# Python

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environnement virtuel

.venv/
venv/

# Variables d'environnement

.env

# Environnements virtuels Python
.venv-dbt/

# VS Code

.vscode/

# macOS

.DS_Store

# Windows

Thumbs.db