# Python

__pycache__/
*.py[cod]
*.pyo
*.pyd


# Environnements virtuels Python

.venv/
venv/
.venv-dbt/


# Variables d'environnement

.env


# VS Code

.vscode/


# macOS

.DS_Store


# Windows

Thumbs.db


# dbt

target/
dbt_packages/
logs/


# Airflow

airflow.cfg
webserver_config.py

analyses/
